<%- include('partials/header') %>
<%- include('partials/main-nav') %>  
<main class="container">
    <div class="mt-4 p-5 bg-light  rounded">
      <h1>Hi there!</h1>
      <br>
      <h3>My name is Andy Bandela.</h3>
      <h4>Welcome to my website and thank you for stopping by!</h4>
    </div>
  </main>
<%- include('partials/bottom-nav') %> 
<%- include('partials/footer') %> 