<%- include('partials/header') %> 
<%- include('partials/main-nav') %> 

  <!--Main content-->
  <main class="container">
    <div class="mt-4 p-5 bg-light  rounded">
      <h1>Hi there!</h1>
      <br>
      <h3>My name is Andy Bandela.</h3>
      <h4>Welcome to my website and thank you for stopping by!</h4>
      <p>I made this website to display my projects for the world to see and to offer my services</p>
      <p>If you are interested <a href="/services" id="butn"><button type="button" class="btn btn-secondary" >Click here</button></a> to see the services I offer.</p>
    </div>
  </main>
<%- include('partials/bottom-nav') %> 

<%- include('partials/footer') %> 