<%- include('partials/header') %> 
<%- include('partials/main-nav') %> 
<main class="container">
    <div class="mt-4 p-5 bg-light  rounded">
        <h1>To Do List Project</h1>
        <div><img src="Assets/images/Screenshot 2023-02-04 at 17.49.02.png" class="rounded float-start" id="proj" alt="To Do List web app image"></div>
        <div class="mt-4 p-5 bg-light">
            <p>This is a To Do List Web App I did as a personnal project when I was doing an online course. <br>The website allows you to add task to do in the do list. To remove a task from the To Do list you only need to click on the check box next to the task.</p>
            <p>The technologies used in this project are: <br><span>Node js</span><br><span>Express</span><br><span>MongoDB</span></p>
            <p>You can access the code in my gitHUB through thise <a href="">link</a>.</p>
        </div>
    </div>
    <div class="mt-4 p-5 bg-light  rounded">
        <h1>Drum kit Project</h1>
        <div><img src="Assets/images/Screenshot 2023-02-04 at 19.57.33.png" class="rounded float-start" id="proj" alt="Drum Kit static site image"></div>
        <div class="mt-4 p-5 bg-light">
            <p>This is Drum Kit project is a simple static website I did as a personnal project when I was doing an online course. <br>You can play an instrument by click on the image on the website or by pressing the keyboard corresponding to that instrument.</p>
            <p>The technologies used in this project are: <br><span>JQuery</span> <span>HTLM/CSS</span></p>
            <p>You can access the code in my gitHUB through thise <a href="">link</a>.</p>
        </div>
    </div>
    <div class="mt-4 p-5 bg-light  rounded">
        <h1>Weather App Project</h1>
        <div><img src="Assets/images/Screenshot 2023-02-04 at 21.02.24.png" class="rounded float-start" id="proj" alt="Weather App image"></div>
        <div class="mt-4 p-5 bg-light">
            <p>This is a Weather Web App I did as a personnal project when I was doing an online course. <br>The website allows you to enter the name of a city a get weather information about that city by using a weather API.</p>
            <p>The technologies used in this project are: <br><span>Node js</span><br><span>Express</span></p>
            <p>You can access the code in my gitHUB through thise <a href="">link</a>.</p>
        </div>
        <br>
        <br>
    </div>
</main>
<%- include('partials/bottom-nav') %>
<%- include('partials/footer') %>  