<%- include('partials/header') %>
<%- include('partials/main-nav') %>
<main class="container">
    <h1>My Services</h1>
    <div class="mt-4 p-5 bg-light  rounded">
        <h1>Web Development</h1>
        <div><img src="Assets/images/Screenshot 2023-02-04 at 22.31.57.png" class="rounded float-start" id="proj" alt="To Do List web app image"></div>
        <div class="mt-4 p-5 bg-light">
            <p>Need a website for your business or display your projects? <br> You came to the right place. With my skills I can help you make you dream website come to reality.</p>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="mt-4 p-5 bg-light  rounded">
        <h1>Mobile Development</h1>
        <div><img src="Assets/images/Screenshot 2023-02-04 at 22.31.01.png" class="rounded float-start" id="proj" alt="Drum Kit static site image"></div>
        <div class="mt-4 p-5 bg-light">
            <p>Have the perfect idea for next big app that millions of people will use? <br> You came to the right place. With my skills I can help you make you dream website come to reality.</p>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="mt-4 p-5 bg-light  rounded">
        <h1>Logo Design</h1>
        <div><img src="Assets/images/Screenshot 2023-02-04 at 22.28.56.png" class="rounded float-start" id="proj" alt="Weather App image"></div>
        <div class="mt-4 p-5 bg-light">
            <p>Got a image in your head of the perfect logo for your business? <br>You came to the right place. With my skills I can help you make you dream website come to reality.</p>
            <br>
            <br>
            <br>
        </div>
    </div>
    <br>
            <br>
            <br>
</main>
<%- include('partials/bottom-nav') %>
<%- include('partials/footer') %> 